.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    max-width: 1100px;
    margin: auto;
    box-sizing: border-box;
    height: 90px;
    /* height: 100%; */
    border-bottom: 0;
    }
    .container{
    border-bottom: 1px solid rgb(219, 219, 219);  
    }
    .DesktopUl{
    list-style: none;   
    display: flex;
    flex-direction: row; 
    padding-left: 0;
    }
    li{
    margin-right: 15px;    
    }
    a{
        text-decoration: none;
    color: #0693e3;
    }
    a:hover{
    color: rgba(0, 0, 0, 0.76);
    }
    img{
    margin-left: 4px;}
.MobileUl{
display: block;

}


    @media (max-width: 500px) {
    img{
    width: 110px;        }
    li{
    font-size: 10px;  
    margin-right: 5px;    
  }
  .DesktopUl{margin: 0 10px 0 0;}
    .nav{max-height: 60px;
 
    }

      }


    @media (max-width: 800px) {
    .nav{
    max-height: 80px;        }   
    .DesktopUl{display: none;}

    }
    